/* Set box sizing to border-box */
html {
  box-sizing: border-box;
}

/* Reset margins, paddings, and inherit box-sizing for all elements and pseudo-elements */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Style for the body, using flexbox to center content and specifying the font-family */
body {
  display: flex;
  justify-content: center;
  font-family: 'Rubik', sans-serif;
}

/* Styling for the game container */
.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Hide elements with the 'hidden' class */
.hidden {
  display: none !important;
}

/* Make elements with the 'invisible' class not visible */
.invisible {
  visibility: hidden;
}

/* Styling for the header element */
header {
  text-align: center;
  font-size: 18px;
}

/* Styling for heading elements */
.heading {
  font-size: 3em;
}

/* Styling for the tile container using CSS grid */
.tile-container {
  display: grid;
  grid-template-rows: 180px 180px;
  grid-template-columns: 180px 180px;
  grid-gap: 25px;
  position: relative;
  margin-top: 30px;
  margin-bottom: 40px;
}

/* Make elements with the 'unclickable' class not respond to pointer events */
.unclickable {
  pointer-events: none;
}

/* Styling for red tiles with hover, focus, and active effects */
.tile-red {
  background-color: #f25022;
  box-shadow: 0 0 0 1px #f25022 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #c93a12, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  transition: 0.15s;
}

/* Hover and focus effects for red tiles */
.tile-red:hover,
.tile-red:focus {
  background-color: #ff451a;
  box-shadow: 0 0 0 1px #FF3000 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #e62b00, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6);
}

/* Active effect for red tiles */
.tile-red:active,
.tile-red.activated {
  box-shadow: 0 0 0 1px #ff5c36 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
  background-color: #ff5c36;
  transform: translateY(10px);
}

/* Styling for green tiles with hover, focus, and active effects */
.tile-green {
  background-color: #7fba00;
  box-shadow: 0 0 0 1px #7fba00 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #638f05, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  transition: 0.15s;
}

/* Hover and focus effects for green tiles */
.tile-green:hover,
.tile-green:focus {
  background-color: #8cc218;
  box-shadow: 0 0 0 1px #8cc218 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #74a802, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6)
}

/* Active effect for green tiles */
.tile-green:active,
.tile-green.activated {
  box-shadow: 0 0 0 1px #a0ea00 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
  background-color: #a0ea00;
  transform: translateY(10px);
}

/* Styling for yellow tiles with hover, focus, and active effects */
.tile-yellow {
  background-color: #ffb900;
  box-shadow: 0 0 0 1px #ffb900 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #c28e07, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  transition: 0.15s;
}

/* Hover and focus effects for yellow tiles */
.tile-yellow:hover,
.tile-yellow:focus {
  background-color: #ffb900;
  box-shadow: 0 0 0 1px #ffb900 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #c28e07, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

/* Active effect for yellow tiles */
.tile-yellow:active,
.tile-yellow.activated {
  box-shadow: 0 0 0 1px #ffca3d inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
  background-color: #ffca3d;
  transform: translateY(10px);
}

/* Styling for blue tiles with hover, focus, and active effects */
.tile-blue {
  background-color: #00a4ef;
  box-shadow: 0 0 0 1px #00a4ef inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #0883bc, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  transition: 0.15s;
}

/* Hover and focus effects for blue tiles */
.tile-blue:hover,
.tile-blue:focus {
  background-color: #139ddd;
  box-shadow: 0 0 0 1px #139ddd inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #0c7cb0, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6);
}

/* Active effect for blue tiles */
.tile-blue:active,
.tile-blue.activated {
  box-shadow: 0 0 0 1px #2bbcff inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
  background-color: #2bbcff;
  transform: translateY(10px);
}

/* Styling for the information section */
.info-section {
  text-align: center;
}

/* Styling for the start button */
.start-button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
}

/* Hover effect for the start button */
.start-button:hover {
  color: #333;
  border-color: #888;
  outline: 0;
}

/* Styling for informational text */
.info {
  font-size: 22px;
}

/* Media query for screens with a maximum width of 550px */
@media screen and (max-width: 550px) {
  /* Adjust game container width and padding for smaller screens */
  .game {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

    /* Adjust heading font size for smaller screens */
  .heading {
    font-size: 2em;
  }

    /* Adjust tile container layout for smaller screens */
  .tile-container {
    width: 100%;
    height: 100%;
    grid-template-rows: 150px 150px;
    grid-template-columns: 150px 150px;
  }
}